<phpunit bootstrap="../php/Bootstrap.php">
    <testsuite name="Mockery Test Suite">
        <directory>../php</directory>
    </testsuite>

    <groups>
        <exclude>
            <group>disable</group>
        </exclude>
    </groups>

    <filter>
        <whitelist>
            <directory suffix=".php">../../main/php</directory>
        </whitelist>
    </filter>
    <listeners>
        <listener
            class='ehough_mockery_mockery_adapter_phpunit_TestListener'
            file='../../main/php/ehough/mockery/mockery/adapter/phpunit/TestListener.php'/>
    </listeners>
</phpunit>

